
# Requirements

# pip install -r requirements.txt
# pip install git+https://github.com/deepmind/dmvr.git


ott-jax
sklearn
#lingvo
seaborn

absl-py
numpy
jax
jaxlib
flax
ml-collections
tensorflow
tensorflow-addons
immutabledict
clu
tensorflow-datasets
tf-models-official

#pytest
#shapely

