
ott-jax
sklearn
lingvo==0.11.0
seaborn
#dmvr@git+https://github.com/deepmind/dmvr.git

absl-py
numpy
jax
jaxlib
flax
ml-collections
tensorflow
tensorflow-addons
immutabledict
clu
tensorflow-datasets
tf-models-official

#pytest
#shapely

